<nav id="main-nav">
    <ul class="nav-list">
        <li><a href="/" title="Home Link">Home</a></li>
        <li><a href="#" title="Custom Link">Custom</a></li>
        <li><a href="#" title="Sedan Link">Sedan</a></li>
        <li><a href="#" title="SUV Link">SUV</a></li>
        <li><a href="#" title="Truck Link">Truck</a></li>
    </ul>
</nav>